
<form
*ngIf="gatewaysToRender"
class="dynamic-form"
[formGroup]="form">
  <div class="payment-form">
    <div class="ritual-radio-group">
      <div class="gateway-wrapper" *ngFor="let gateway of gatewaysToRender">
        <label class="gateway-label" for="method-{{gateway.Name}}-{{gateway.CardId}}" (click)="setGateway(gateway)">
          <div class="logo-wrapper">
            <img class="method-logo" [src]="getLogo(gateway)" />
          </div>
          <span *ngIf="!gateway.CardId">{{ 'adyen-gateway.' + gateway.ID | translate}}</span>
          <span *ngIf="gateway.CardId">{{ 'adyen-gateway.' + gateway.CardId | translate}}</span>
          <div class="rituals-radio">
            <input id="method-{{gateway.Name}}-{{gateway.CardId}}" type="radio" [value]="gateway" formControlName="type">
            <label for="method-{{gateway.Name}}-{{gateway.CardId}}"></label>
          </div>
        </label>

        <div class="gateway-content" [class.hidden]="form.value.type.Name !== gateway.Name">
          <rituals-eva-adyen-method
          [gateway]="gateway"
          [originKey]="adyenOriginKey"
          [debug]="debug"
          (userData)="eventTrigger($event, gateway)"
          (paymentFailed)="paymenFailedEvent($event)"
          (paymentAuthorized)="paymentAuthorizedEvent($event)"></rituals-eva-adyen-method>
        </div>
      </div>
    </div>
  </div>
  <div class="pay-button-wrapper">
    <button mat-button class="primary" [disabled]="!createPaymentPayload" (click)="createPayment()">{{'adyen-gateway.pay' | translate: {currencyId: currencySymbol, amount: amount} }}</button>
  </div>
</form>
