.bank-logo {
  max-width: 50px;
  max-height: 50px;
}

.ideal-select {
  padding-top: 5px;
  width: 100%;
}

.ideal-field {
  width: 100%!important;
}

.ideal-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 20px solid #f6f4f2;
  padding: 20px;
}